@import 'tailwindcss';

* {
	font-family: 'Outfit Medium', system-ui;
}

body {
	margin-left: auto;
	margin-right: auto;
	padding-left: calc(var(--spacing) * 4);
	padding-right: calc(var(--spacing) * 4);
	margin-block: calc(var(--spacing) * 4);
	margin-top: calc(var(--spacing) * 12);
	max-width: var(--container-6xl);
	background-color: black;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@font-face {
	font-family: 'Cherry Bomb One';
	src: url('/CherryBombOne-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Outfit Medium';
	src: url('/Outfit-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

.outfit-medium {
	font-family: 'Outfit Medium', system-ui;
	font-weight: 500;
	font-style: normal;
}

.cherry-bomb-one-regular {
	font-family: 'Cherry Bomb One', system-ui;
	font-weight: 400;
	font-style: normal;
}
